.project_class1{
    display: inline-block;
}

.cms-card {
    border: 1px solid #ccc; /* Define el borde de la tarjeta */
    padding: 20px; /* Agrega espacio interno entre los contenidos */
    margin-bottom: 20px; /* Agrega espacio entre las tarjetas */
}
