<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Cracks</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/9cb825050b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" href="../static/cracks-favicon-color.png">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home_user"><img src="../static/cracks-favicon-black.png" alt="" style="height: 35px;">Cracks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/kvm"><i class="fa-solid fa-laptop"></i>KVM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fa-solid fa-house-laptop"></i>Service (CMS)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/database"><i class="fa-solid fa-database"></i>DataBase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/storage"><i class="fa-solid fa-hard-drive"></i>Storage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_account"> <i class="fa-sharp fa-solid fa-user-pen"></i>Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</a>
          </li>

        </ul>
      </div>
                <div class="navbar-text ml-auto">
                  <i class="fa-solid fa-user"> {{username}}</i>
                </div>
    </div>
  </nav>

  <br>


  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>¡Bienvenido al servicio de virtualización!</h1>
  </div>


  <div class="container mt-4">
    <h2>Lista de Máquinas Virtuales</h2>
    {% for kvm in info %}
    {% if loop.index0 % 4 == 0 %}
    <div class="row mt-3">
    {% endif %}
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ kvm.kvm_name }}</h5>
            <div class="spinner-border load-kvm-{{ kvm.kvm_name }}" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <p id="show_ip_{{ kvm.kvm_name }}"></p>
            <p id="show_login_{{ kvm.kvm_name }}"></p>
            <p class="card-text">Especificaciones: {{ kvm.kvm_memory }}mb, {{ kvm.kvm_cpu }} CPU's.</p>
              <a href="#" class="btn btn-primary start-kvm-btn" id="start-{{ kvm.kvm_name }}" data-kvm-name="{{ kvm.kvm_name }}">Iniciar</a>
              <a href="#" class="btn btn-danger stop-kvm-btn" id="stop-{{ kvm.kvm_name }}" data-kvm-name="{{ kvm.kvm_name }}" hidden>Detener</a>
              <a href="/kvm_delete/{{kvm.kvm_name}}" class="btn btn-warning">Eliminar</a>
          </div>
        </div>
      </div>
    {% if loop.index0 % 4 == 3 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </div>



  <div class="position-fixed bottom-0 end-0 m-4">
    <a href="/kvm_create" class="btn btn-primary btn-lg">Create KVM</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".start-kvm-btn").click(function(){
      var kvmName = $(this).data('kvm-name');
      var starBtn = $("#start-" + kvmName);
      var stopBtn = $("#stop-" + kvmName);
      var spinner = $(".load-kvm-" + kvmName);
      spinner.css("display", "block");
      starBtn.attr("hidden",true)
      $.ajax({
        url: '/start_kvm/' + kvmName,
        type: 'GET',
        success: function(response) {
          console.log('IP Address:', response.ip);
          spinner.css("display", "none");
          $("#show_ip_" + kvmName).text("IP: " + response.ip);
          $("#show_login_" + kvmName).text("Login: ssh ubuntu@" + response.ip);
          stopBtn.removeAttr("hidden")
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    });
    $(".stop-kvm-btn").click(function(){
      var kvmName = $(this).data('kvm-name');
      var starBtn = $("#start-" + kvmName);
      var stopBtn = $("#stop-" + kvmName);
      stopBtn.attr("hidden",true)
      $.ajax({
        url: '/stop_kvm/' + kvmName,
        type: 'GET',
        success: function(response) {
          $("#show_ip_" + kvmName).text("");
          $("#show_login_" + kvmName).text("");
          starBtn.removeAttr("hidden")
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    });
  });
</script>  
</body>

</html>